<hr/>
<a href="/members/new">Add Member</a>
<table>
  <thead>
    <h3>All Gym Members</h3>
  </thead>
  <tr>
    <th>Member ID</th>
    <th>Name</th>
    <th>Premium Membership</th>
    <th>View Member</th>
  </tr>
  <% @members.each do |member| %>
  <tr>
    <td><%= member.id %></td>
    <td><%= member.merge_name() %></td>
    <td><%= member.premium_member() %></td>
    <td><a href="/members/<%= member.id %>">View</a></td>
  </tr>
  <% end %>
</table>
