<h1>All Gym Members</h1>
<a href="/members/new">Add Member</a>
<% @members.each do |member| %>
<p> Name: <%= member.merge_name() %>  </p>
<p> Premium Membership: <%= member.premium_member() %> </p>
<a href="/members/<%= member.id %>">View Member</a>
<hr />
<% end %>
