<h1>All Gym Classes</h1>
<a href="/classes/new">Add New Class</a>
<% @gym_classes.each do |gym_class| %>
<p> Class Name: <%= gym_class.name() %> </p>
<p> Start time: <%= gym_class.start_time() %> </p>
<p> Capacity: <%= gym_class.capacity() %></p>
<form action="/classes/<%= gym_class.id() %>/delete" method="post">
  <input type="submit" value="Delete Class">
</form>
<hr />
<% end %>
