<div class="creation-template">
  <h2>Add a new class to the gym</h2>
  <form action="/classes" method="post">
    <label for="name">Class Name: </label>
    <input type="text" name="name" id="first-name" required>
    <br>
    <label for="start-time">Start Time: </label>
    <input type="time" name="start_time" id="start-time"
    br min="07:00" max="22:00" step="3600" required>
    <br>
    <label for="capacity">Class Capacity: </label>
    <input type="number" name="capacity" id="capacity" min="1" max="100" required>
    <br>
    <div class="submit-btn">
      <input type="submit" value="Add Class">
    </div>
  </form>
</div>
