<form action="/classes" method="post">
  <label for="name">Class Name: </label>
  <input type="text" name="name" id="first-name">
  <label for="start-time">Start Time: </label>
  <input type="text" name="start_time" id="start-time">
  <label for="capacity">Class Capacity: </label>
  <input type="number" name="capacity" id="capacity">
  <input type="submit" value="Add Class">
</form>
