<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Fitness24 Gym Management Suite</title>
</head>
<body>
  <header>
    <h1>Fitness24 Gym Management Software</h1>
  </header>
  <div class="navbar">
    <a href="/">Home</a>
    <a href="/members">Members</a>
    <a href="/classes">Classes</a>
  </div>
  <div class="ruby-content">
    <%= yield %>
  </div>
</body>
</html>
