<h2>Class Bookings</h2>
<% @bookings.each do |booking| %>
<p>Booking ID: <%= booking.id %></p>
<p>Member ID: <%= booking.member_id %></p>
<p>Class ID: <%= booking.gym_class_id %></p>
<hr />
<% end %>
